<tr>
  <td><%= post.date %></td>
  <td><%= post.daily_hours %></td>
  <td class="hidden-xs"><%= link_to truncate(post.rationale), post %></td>
  <td>
    <%= status_label post.status %>
  </td>
  <td>
    <%= render partial: 'links', locals: { post: post } if policy(post).update? %>
  </td>
</tr>